$white: #ffff;
$black: #000000;
$blue: #0071e3;
$grey: #1d1d1f;
$anchorBlue: #2888e4;
$hoverAnchorBlue: #2997ff;
$maxWidth: 980px;
$smallFont: 0.8rem;
$textGradientDefault: linear-gradient(90deg, #f56772, #ba6bff);
$aboutParaMaxWidth: 490px;
$ipadImageMaxWidth: 300px;
$primaryBorderRadius: 20px;
$footerBorderColor: rgb(0, 0, 0, 0.2);
$footerLinkColor: rgb(66, 66, 69);
$footerTitleColor: #424245;
